<nav class="sidebar">
  <ul>
    <li><a href="#" onclick="showPdf('ChatGPT4o')">ChatGPT4o</a></li>
    <li><a href="#" onclick="showPdf('ChatGPT4oReasoning')">ChatGPT4o + Reasoning</a></li>
    <li><a href="#" onclick="showPdf('ChatGPT4oMathSolver')">ChatGPT4o Math Solver</a></li>
    <li><a href="#" onclick="showPdf('Claude4Sonnet')">Claude 4 Sonnet</a></li>
    <li><a href="#" onclick="showPdf('Gemini25Flash')">Gemini 2.5 Flash</a></li>
    <li><a href="#" onclick="showPdf('DeepSeekV3')">DeepSeek V3</a></li>
    <li><a href="#" onclick="showPdf('DeepSeekV1-R1')">DeepSeek V3 + R1</a></li>
    <li><a href="#" onclick="showPdf('DeepSeekr1-local')">DeepSeek-r1, 32B</a></li>
    <li><a href="#" onclick="showPdf('Mistral8b')">Mistral, 8B</a></li>
    <li><a href="#" onclick="showPdf('Qwen QwQ')">Qwen QwQ, 32B</a></li>
    <li><a href="#" onclick="showPdf('LLaMA3_2')">LLaMA 3.2</a></li>
    <li><a href="#" onclick="showPdf('LLaMA4Maverick')">LLaMA 4 Maverick</a></li>
  </ul>
</nav>
